body {
    background-color:lightcyan;
    
}
h1{
    border: 5px double darkturquoise;
    margin-right: 5em ;
    margin-left: 5em;
    font-size: 45px;
    font-family: monospace;
    color:chocolate ;
    
}

.div1 {
    border: 5px double darkturquoise;
    height: 60em;
    background-color:azure;
    
}
.same {
    display: inline-block;
    
    
}

#right {
    float: right;
    padding-right: 3em;
    font-size: 35px;
    font-family: monospace;
    color:chocolate ;
    
}
#left {
    float: left;
    padding-left: 3em;
    font-size: 35px;
    font-family: monospace;
    color:chocolate ;
    
}
.blank {
    padding-top:80px; 
      width: auto;
    

    
}
.blanks {
padding-bottom: 6px;
float:left;
    
    

}
.time{
    border: 10px double red;
    
    
}
.blanker{
     padding-top:80px; 
    float:right;
      width: auto;


}
#magic {
    display:none;
    
}
